.new-tab {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #333;
  display: block;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 10px;
  padding: 10px;
  position: relative;
  text-decoration: none;
  width: 100%;
}

.view .blackBackground::before{
  background-color: #22222d;
}
.blackBackground{
  background-color: #22222d !important; /*在业务里 important慎用*/
}

.view .pinkBackground::before{
  background-color: pink;
}
.pinkBackground{
  background-color: pink !important; /*在业务里 important慎用*/
}
.view .kleinBackground::before{
  background-color: #002ea6;
}
.kleinBackground{
  background-color: #002ea6 !important; /*在业务里 important慎用*/
}