/* ---------------------背景--------------------- */
/*在业务里 important慎用*/

/* 黑色背景 */
.view .blackBackground::before{
  background-color: #22222d;
}
.blackBackground .entry-list-container {
  border: 1px solid #fff;
  border-radius: 8px;
  overflow: hidden;
}
.blackBackground, .blackBackground .main-header .container{
  background-color: #22222d !important; 
}

/* 蓝色背景 */
.view .kleinBackground::before{
  background-color: #002ea6;
}
.kleinBackground, .kleinBackground .main-header .container{
  background-color: #002ea6 !important;
}
/* 粉色背景 */
.view .pinkBackground::before{
  background-color: #f9c1d2;
}
.pinkBackground, .pinkBackground .main-header .container{
  background-color: rgba(294, 192, 210, 1) !important; 
}


/* ---------------------字体--------------------- */

/* 白色字体 */
.whiteFontcolor .nav-item:not(.active),   /*列表 顶部nav 等*/
.whiteFontcolor .nav-item:not(.active) a, /*列表 顶部nav 等*/
.whiteFontcolor li .meta-container a,     /*列表 作者文字等*/
.whiteFontcolor li .meta-container .date, /*列表 时间*/
.whiteFontcolor li .main .title,          /*列表 广告title*/
.whiteFontcolor li .main .description,    /*列表 广告 描述*/
.whiteFontcolor li .content-main .title,  /*列表 文章title*/
.whiteFontcolor li .content-main .abstract a,   /*列表 文章 描述*/
.whiteFontcolor li .content-main .action-list .item{    /*列表 文章 观看 评论 点赞*/
  color: #fff !important; 
}
.whiteFontcolor li .meta-container a::after{
  background-color: #fff !important;
}

.whiteFontcolor li .content-main .title{
  transition: 0.5s;
}
.whiteFontcolor li .content-main .title:hover{
  /* transform: scale(1.5) */
  font-size: 1.5rem;
  position: relative;
  z-index: 10;
}
/* 黄色 */
.napoliFontcolor .nav-item:not(.active),   /*列表 顶部nav 等*/
.napoliFontcolor .nav-item:not(.active) a, /*列表 顶部nav 等*/
.napoliFontcolor li .meta-container a,     /*列表 作者文字等*/
.napoliFontcolor li .meta-container .date, /*列表 时间*/
.napoliFontcolor li .main .title,          /*列表 广告title*/
.napoliFontcolor li .main .description,    /*列表 广告 描述*/
.napoliFontcolor li .content-main .title,  /*列表 文章title*/
.napoliFontcolor li .content-main .abstract a,   /*列表 文章 描述*/
.napoliFontcolor li .content-main .action-list .item{    /*列表 文章 观看 评论 点赞*/
  color: #ffe78f !important; 
}
.whiteFontcolor li .meta-container a::after{
  background-color: #ffe78f !important;
}

/* logo 背景图 */
.whiteImg{
  background: #fff;
  box-shadow: 0 0 5px 5px #fff;
}


